body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  margin-top: 30px;
}

/* Recipe List UL */
.recipe-list-container {
  background-color: #561702;
  border-radius: 12px 0 0 12px;
  border: 1px solid #999;
  width: 24%
}
ul.recipe-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
ul.recipe-list li {
  padding: 20px 0;
  border-bottom: 0.03em solid #FFF;
}
ul.recipe-list li:last-of-type {
  /*border-bottom: none;*/
}
ul.recipe-list li a {
  display: inline-block;
  margin-left: 27px;
  /*font-weight: bold;*/
}
ul.recipe-list li a:active {
  color: #FFF;
}
ul.recipe-list li a:visited {
  color: #FFF;
}
ul.recipe-list li a:link {
  color: #FFF;
}
ul.recipe-list li a:hover {
  color: #FFF;
}
/* Recipe Details Container */
.recipe-details-container {
  border-radius: 0 12px 12px 0;
  border: 1px solid #999;
  width: 76%;
  padding-left: 22px;
  padding-top: 12px;
  background-color: #efd99b;
}
/**  **/

h2.recipe-title {
  margin-bottom: 12px;
}

/* Ingredients Container */
.ingredients-container {
  border: 1px solid #bbb;
  border-radius: 12px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #edbeaf;
}

/* Ingredients List */
ul.ingredients-list {
  /*list-style-type: none;*/
  padding: 0 0 0 8px;
  margin-left: 15px;
  margin-bottom: 0;

}

/* Ingredients Container */
.available-ingredients-container {
  border: 1px solid #bbb;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #edbeaf;
}

/* Ingredients List */
ul.available-ingredients-list {
  /*list-style-type: none;*/
  padding: 0 0 0 8px;
  margin-left: 15px;
  margin-bottom: 0;
}


/* Recipe Steps Container */
.recipe-steps-container {
  padding: 10px;
  margin-right: 30px;
}

/* Recipe Steps List */
ul.recipe-steps-list {
  list-style-type: none;
  padding: 0;
  margin-left: 0px;
  margin-bottom: 0;
}

ul.recipe-steps-list li {
  margin: 10px 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #999;
  margin: 1em 0;
  padding: 0;
}

h5 {
  font-weight: bold;
  font-size: 16px;
}
